@import '../Variables.scss';

.default-container {
  width: 100%;
  background: white;
  padding: 50px 100px;
  color: #48556C;
  min-height: 95vh;
  box-sizing: border-box;
  @media screen and (max-width: $max-width) {
    padding: 20px;
  }
}

.card-container {
  border: 1px solid $first-color;
  border-radius: 20px;
  padding: 20px 30px;
  margin: 30px;
  transition: 900ms;
  @media screen and (max-width: $max-width) {
    padding: 20px;
    margin: 10px;
  }
}

.card-container:hover {
  transform: scale(1.01);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $max-width) {
    display: block;
  }
}

.card-image {
  padding: 20px;
  @media screen and (max-width: $max-width) {
    width: 90%;
  }  
}

