@import '../Variables.scss';

.default-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 50px 100px;
  box-sizing: border-box;
  @media screen and (max-width: $max-width) {
    padding: 20px;
  }
}

.card-container {
  margin: 30px;
  @media screen and (max-width: $max-width) {
    padding: 20px;
    margin: 10px;
  }
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $max-width) {
    display: block;
  }
}

.card-content-description {
  width: 60%;
  @media screen and (max-width: $max-width) {
    width: 100%;
  }
}

.card-content-buttons {
  width: 90%;
  display: flex;
  justify-content: space-around;
  padding-top: 25px;
}

.card-content h2 {
  font-weight: 900;
}

.card-content b {
  color: $first-color;
}

.card-image {
  padding: 10px;
  @media screen and (max-width: $max-width) {
    width: 90%;
    padding: 25px;
  }
}

