@import "../Variables.scss";

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  text-align: center;
  @media screen and (max-width: $max-width) {
    display: block;
  }
}

.login-logo {
  position: absolute;
}

.login-message {
  width: 35%;
  height: inherit;
  box-sizing: border-box;
  background: linear-gradient(to right, $first-color, $second-color);
  color: white;
  padding: 200px 20px;
  @media screen and (max-width: $max-width) {
    width: 100%;
  }
}

.login-message p {
  font-size: 24px;
  padding-bottom: 40px;
}

.login-form {
  width: 65%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media screen and (max-width: $max-width) {
    width: 100%;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup-form .btn {
  margin-top: 20px;
}

.social-media span {
  padding: 5px;
}