@import "../Variables.scss";

.sidebar {
  z-index: 2;
  width: 35%;
  max-width: 500px;
  position: fixed;
  margin: 60px 10px;
  border-radius: 20px;
  overflow: hidden;
  transition: 1s;
  @media screen and (max-width: $max-width) {
    width: 95%;
  }
}

.sidebar-menu .selected {
  background-color: #F2F4F5;
}

.sidebar-menu {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: $third-color;
}

.sidebar-menu a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sidebar-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 50%;
  padding: 5px 8px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sidebar-option:hover {
  cursor: pointer;
}

.sidebar-container {
  background:#F2F4F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  overflow-y: scroll;
  max-height: calc(100vh - 300px);
  scrollbar-width: none
}

.sidebar-container::-webkit-scrollbar {
  display: none;
}
