@import "./Variables.scss";

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 28px;
  font-weight: bold;
}

a {
  color: $first-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  height: 80px;
  width: 250px;
  border-radius: 40px;  
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  transition: 250ms;
  outline: none;
  display: inline-block;
  text-decoration: none;
  line-height: 3.8;
  text-align: center;
}

.btn:hover {
  transform: scale(1.05);  
}

.btn-transparent {
  border: 2px solid white;
  color: white;
  background-color: transparent;
}

.btn-submit {
  border: 2px solid white;
  color: white;
  background-color: $second-color;
}

.btn-small {
  height: 50px !important;
  width: 85% !important;
  border: 2px solid white;
  color: white;
  background-color: $second-color;
  line-height: 2.5 !important;
}

.input {
  background-color: #F5F5F5;
  border: 2px solid #E2E8DC;
  margin: 10px auto;
  padding-left: 20px;
  font-size: 20px;
  transition: 800ms;
  outline: none;
}

.input-generic {
  width: 60%;
  height: 80px;
  border-radius: 35px;
}

.input-small {
  width: 80%;
  height: 40px;
  border-radius: 20px;
}

.input:focus {
  background-color: white;
  border: 2px solid #E2E8DC;
}

.app {
  display: flex;
  flex-flow: column;
}

.main {
  display: flex;
}